.axis
  font: 14px sans-serif

.axis path,
.axis line
  fill: none
  stroke: #000
  shape-rendering: crispEdges

.svg-container
  display: inline-block
  overflow: hidden
  position: relative
  vertical-align: middle
  width: 100%
  background: white

.progress-container
  width: 25%

.progress-meter
  background: white
  .background
    fill: #ccc

  .foreground
    fill: steelblue

  text
    font-size: 45px
